*{
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: 2em;
}

.barra h1 {
    color: #FF266E;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.row {
    padding: 1rem;
}

.cajaBorde {
    border-style: solid;
    border-color: #FF266E;
    height: 30vh;
}

